{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4">{% if medical_record %}Edit{% else %}Add{% endif %} Medical Record</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> {% if medical_record %}Update{% else %}Save{% endif %}</button>
        <a href="{% url 'medical_record_list' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancel</a>
    </form>
</div>
{% endblock %}
